{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img
        class="img-simple img-fluid blur-up border-0 ls-is-cached lazyloaded"
        src="nc_logo.png"
        width="125px"
        alt="Notion Charts Logo"
      />
    </div>
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a
        class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}get-started/"
        role="button"
        >Get Started</a
      >
    </div>
    <div class="text-center">
      <h2>Or</h2>
    </div>

    <div class="col-lg-9 col-xl-8 text-center">
      <div class="btn">
        <a
          href="{{ .Site.Params.notionLoginUri | safeURL }}"
          target="popup"
          onclick="window.open('{{ .Site.Params.notionLoginUri | safeURL }}', 'popup', 'width=600,height=600');return false;"
        >
          <div class="notion-button">
            <span>Add To Notion</span>
            <img
              class="img-fluid blur-up ls-is-cached lazyloaded"
              src="Notion_app_logo.png"
              width="40px"
              alt="Notion Logo"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h2 class="mt-0">Features</h2>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Embedded 📑</h2>
        <p>
          Create and embed charts in your workspace without ever leaving notion.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Single Source of Truth 🗃</h2>
        <p>
          Use Notion as your single source of truth, No need to constantly
          export to excel.
        </p>
      </div>

      <div class="col-lg-5">
        <h2 class="h4">Customizable 🔧</h2>
        <p>Customize what to see and how to see it.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Interactive 🪄</h2>
        <p>
          Use interactive tooltips to give aditional information to your
          viewers.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark Mode 🌙</h2>
        <p>Conform to your notion's environment by enabling dark mode.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Cross Platform 💻📱</h2>
        <p>Visualize your data on you computer, on web or your phone.</p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">{{- .Content -}}</div>
  </div>
</section>
{{ end }}
